.carousel-control-prev-icon, .carousel-control-next-icon {
  display: none;
}

.rpia-carousel-item-inner {
  height: 500px;
  width: 650px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .gray-background {
    height: 350px;
    width: 600px;
    background-color: rgba(0, 0, 0, .6);
    padding: 50px 20px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 25px;
  }

  .btn-primary {
    margin-top: 25px;
    color: #fff;
    background-color: #c52d2f;
    border-color: #c52d2f;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
  }

  .animation {
    -webkit-animation: fadeInUp 300ms linear;
    -moz-animation: fadeInUp 300ms linear;
    -o-animation: fadeInUp 300ms linear;
    -ms-animation: fadeInUp 300ms linear;
    animation: fadeInUp 300ms linear;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;

    &.animated-item-1 {
      -webkit-animation-delay: 300ms;
      -moz-animation-delay: 300ms;
      -o-animation-delay: 300ms;
      -ms-animation-delay: 300ms;
      animation-delay: 300ms;
    }

    &.animated-item-2 {
      -webkit-animation-delay: 600ms;
      -moz-animation-delay: 600ms;
      -o-animation-delay: 600ms;
      -ms-animation-delay: 600ms;
      animation-delay: 600ms;
    }

    &.animated-item-3 {
      -webkit-animation-delay: 900ms;
      -moz-animation-delay: 900ms;
      -o-animation-delay: 900ms;
      -ms-animation-delay: 900ms;
      animation-delay: 900ms;
    }
  }
}
