.bg-rpia-navbar {
  background: #151515;

  @media(min-width: 992px) { // lg and above
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .navbar-nav {
    font-size: 14px;
    
    .nav-item {
      @media(min-width: 1024px) {
        padding-top: 28px;
        padding-bottom: 28px;
      }

      +.nav-item {
        margin-left: 5px;
      }
      
      .nav-link {
        padding: 5px 17px;
        margin: 0;
        border-radius: 3px;
        color: #fff;
        line-height: 24px;
        display: inline-block;
        
        &.donate {
          background: linear-gradient(to bottom, #efcc5a 0%, #846916 100%);
          background-size: 1px 50px;
          color: black;
          transition: background 300ms;
        }
      }
      
      &.active, &:hover, &:focus {
        .nav-link {
          background-color: #c52d2f;
          color: #fff;
        }
      }
    }
  }
  
  .dropdown {
    .dropdown-menu {
      background-color: rgba(0, 0, 0, .85);
      -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
      -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
      border: 0;
      padding: 0;
      margin-top: 0;
      border-top: 0;
      border-radius: 0;
      left: 0;
      
      .dropdown-item {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #333;
        white-space: nowrap;
        padding: 8px 15px;
        color: #fff;
        
        &.active, &:hover, &:focus {
          background-color: #c52d2f;
          color: #fff;
        }
      }
      
      .dropdown-divider {
        height: 1px;
        overflow: hidden;
        margin: 9px 10px;
        border-top: 1px solid rgba(150, 150, 150, .25);
      }
    }
    
    &:hover {
      .dropdown-menu {
        display: block;
        -moz-animation: fadeInUp 200ms;
        -webkit-animation: fadeInUp 200ms;
        animation: fadeInUp 200ms;
      }
    }
  }
}