.bg-rpia-navbar {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.6)
  ),
  url('../../assets/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @media(min-width: 992px) { // lg and above
    padding-top: 0px;
    padding-right: 100px;
  }

  .navbar-nav {
    font-size: 22px;
    font-weight: 700;
    text-align: center;

    .nav-item {
      @media(min-width: 1024px) {
        padding: 10px 5px 0px;
        line-height: 120px;
      }

      +.nav-item {
        margin-left: 10px;
        margin-right: 10px;
      }

      .nav-link {
        padding: 5px 10px;
        margin: 0;
        border-radius: 3px;
        color: #fff;
        line-height: 24px;
        display: inline-block;
      }

      &.active, &:hover, &:focus {
        .nav-link {
          background-color: #c52d2f;
          color: #fff;

        }
      }
    }
  }

  .dropdown {
    .dropdown-menu {
      background-color: rgba(0, 0, 0, .85);
      -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
      -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
      border: 0;
      padding: 0;
      margin-top: 0;
      border-top: 0;
      border-radius: 0;
      left: 0;

      .dropdown-item {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #333;
        white-space: nowrap;
        padding: 8px 15px;
        color: #fff;

        &.active, &:hover, &:focus {
          background-color: #c52d2f;
          color: #fff;
        }
      }

      .dropdown-divider {
        height: 1px;
        overflow: hidden;
        margin: 9px 10px;
        border-top: 1px solid rgba(150, 150, 150, .25);
      }
    }

    &:hover {
      .dropdown-menu {
        display: block;
        -moz-animation: fadeInUp 200ms;
        -webkit-animation: fadeInUp 200ms;
        animation: fadeInUp 200ms;
      }
    }
  }
}
