<rpia-carousel></rpia-carousel>
<section class="upcoming-events content-section">
  <div class="container text-center">
    <h2>Upcoming Events</h2>
    <p class="lead">This is a calendar containing all our upcoming events.<br></p>
    <p class="lead">No upcoming events to show...</p>
  </div>
</section>
<section class="partners content-section">
  <div class="translucent-bg">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h2>Other Agencies</h2>
          <p class="lead">
            RPI Ambulance works with other agencies both within the RPI community and throughout the City of Troy and
            Rensselaer County.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-around align-items-stretch">
          <a href="https://publicsafety.rpi.edu/" class="d-block">
            <img src="assets/partners/pubsafe.svg" class="partner-img img-fluid">
          </a>
          <a href="http://studenthealth.rpi.edu/" class="d-block">
            <img src="assets/partners/shc.svg" class="partner-img img-fluid">
          </a>
          <a href="http://www.remo-ems.com/" class="d-block">
            <img src="assets/partners/remo.svg" class="partner-img img-fluid">
          </a>
          <a href="http://www.rensco.com/departments/public-safety/" class="d-block">
            <img src="assets/partners/rensco.svg" class="partner-img img-fluid">
          </a>
          <a href="http://www.troyny.gov/departments/fire-department/" class="d-block">
            <img src="assets/partners/tfd.svg" class="partner-img img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
  
</section>