<html>
<head> <link rel="stylesheet" href="contactus.css"></head>

<div class="center">
<body>

  <h1>
    Contact-Us
  </h1>
      <div class = text>
      <h2>
      If it is an  Emergency please call : <a href="">911</a>
      </h2>
      </div>
       <ul>

        <h4>
          <li> Shoot us an email at <a href=""> officers@rpiambulance.com </a> </li>
        </h4>

   <br>
  Phone: <a href="">518-900-RPIA (7742)</a>
  <br>
  <h3>
    <li> You can also reach us at : </li>
  </h3>
  <p>
    <h3>RPI Public Safety</h3>
    <br>
    1624 15th Street
    <br>
    Troy, NY 12180
    <br>
    Emergency: 518-276-6611
    Phone: 518-276-6656
  </p>
          <br>
          <br>
         <h3><li>Or come visit us! </li></h3>
</ul>
       <div class:"address"> <p>Station 59,
          92 College Avenue,
        Troy, NY 12180</p></div>
      <div class="mapouter"><div class="gmap_canvas"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.890509765313!2d-73.68287268413211!3d42.727208119828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f0a52ded5e9%3A0xd3f965cf2389d687!2s92%20College%20Ave%2C%20Troy%2C%20NY%2012180!5e0!3m2!1sen!2sus!4v1584517362388!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div><style>.mapouter{text-align:left;height:500px;width:505px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:920px;}</style></div>

      </h3>

      <meta name="theme-color" content="#c52d2f" />
      <title ng-bind="$root.title + ' | RPI Ambulance'">RPI Ambulance</title>
     </body>

     </div>

     </html>
