<h1>
  Contact-Us
</h1>

<h2>
  If it is an  Emergency please call : <a href="">911</a>
</h2>
<br>
<br>
<ul>
  <h3>
     Shoot us an email at <a href=""> officers@rpiambulance.com </a> 
  <br>
  <br>

  Phone: <a href="">518-900-RPIA (7742)</a>
    <br>
    <br>
  You can also reach us at : 
</h3>
</ul>
<br>
  <h4><u>RPI Public Safety</u></h4>
  <br>
  <h4>
  1624 15th Street
  <br>
  Troy, NY 12180
  <br>
  Emergency: 518-276-6611
  <br>
  Phone: 518-276-6656
</h4>
<br>
<ul>
<h3>
Or come visit us!
<br>
</h3>
</ul>

<h4> 59, 
  92 College Avenue,
Troy, NY 12180
</h4>
<div class="mapouter"><div class="gmap_canvas"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.890509765313!2d-73.68287268413211!3d42.727208119828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f0a52ded5e9%3A0xd3f965cf2389d687!2s92%20College%20Ave%2C%20Troy%2C%20NY%2012180!5e0!3m2!1sen!2sus!4v1584517362388!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div><style>.mapouter{text-align:left;height:500px;width:505px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:920px;}</style></div>

