@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@600;700&display=swap');

.center{
    text-align: center;
    margin: auto; 
}

.text{
        text-align: center;
  }

.mapouter
{
    width: 790px;
    height: 260px;
    margin-left: 500px;
}


h1{
  text-align: center;
  }

h2{
    font-weight: 400;
    text-align: center;
    
  }

h3{
  font-weight: 400;
  margin-left: 500px;
}

h4{
    font-weight: 400;
    margin-left: 580px;
  }

  

