@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@600;700&display=swap");

h1 {
  font-weight: 600;
  font-family: "Sarabun";
  color: #000000;
}

h3 {
  font-weight: 200;
  font-family: "Sarabun";
  color: #4e4e4e;
}

h5 {
  font-weight: 200;
  font-family: "Sarabun";
  color: #4e4e4e;
}

.header {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.sep {
  height: 25px;
}

.pricing_heading {
  margin-top: 120px;
}

.pricing_heading h2,
.pricing_heading p {
  color: #454e4e;
}

.pricing-area h1 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}

.pricing-area span {
  font-weight: 700;
  font-size: 18px;
}

.pricing-area h3,
.pricing-area span {
  color: #fff;
}

.plan {
  position: relative;
  margin-bottom: 70px;
}

.pricing-area ul {
  background: #fafafa;
  padding: 0;
  margin: 0;
  max-width: 345px;
}

.pricing-area ul li {
  list-style: none;
  padding: 15px 0;
  max-width: 345px;
  font-size: 16px;
  font-weight: 400;
}

.pricing-area ul li:nth-child(even) {
  background: #f5f5f5;
}

.pricing-area .heading-one,
.pricing-area .heading-two,
.pricing-area .heading-three {
  padding: 17px 0;
  border-radius: 2px 2px 0 0;
}

.pricing-area .heading-one,
.pricing-area .heading-two,
.pricing-area .heading-three {
  margin-left: 0px;
}

.pricing-area .heading-one,
.pricing-area .price-one .plan-action .btn-primary {
  background: #e24f43;
}

.pricing-area .heading-two,
.pricing-area .price-two .plan-action .btn-primary {
  background: #f39c12;
}

.pricing-area .heading-three,
.pricing-area .price-three .plan-action .btn-primary {
  background: #27ae60;
}

.pricing-area .bg {
  background: #fafafa;
}

.plan-action {
  height: 40px;
}

.pricing-area .plan-action .btn-primary {
  position: relative;
  padding: 5px 20px;
  color: #fff;
  margin-top: 5px;
}
