<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

  <!-- Header -->
  <div class="header">
    <h1>Request Coverage</h1>
    <br>
    <h3>Planning an event at or around RPI?</h3>
    <h5>Here are a few options of how RPI Ambulance can provide EMS coverage for your event.
      <br>If you have further questions, please feel free to contact us.</h5>
  </div>


  <div class="container pricing-area text-center">
    <div class="row align-items-center">
      <div class="col plan price-one">
        <ul>
          <li class="heading-one">
            <h1>Tier I</h1>
            <span>$10/hour<sup>*</sup></span>
          </li>
          <li>Long duration; Low capacity</li>
          <li>No dedicated patient care facility</li>
          <li>At least 1 EMT</li>
          <li>First Response 59</li>
          <li>Oxygen and medical supplies</li>
          <li class="plan-action">
            <button (click)='selectT1()' class="btn btn-primary">Select</button>
          </li>
        </ul>
      </div>

      <div class="col plan price-two">
        <ul>
          <li class="heading-two">
            <h1>Tier II</h1>
            <span>$50/hour<sup>*</sup></span>
          </li>
          <li>Larger spectator event</li>
          <li>No dedicated patient care facility</li>
          <li>1&ndash;3 EMTs on field crews</li>
          <li>5939 (remains available for 911 calls)</li>
          <li>Oxygen and medical supplies</li>
          <li class="plan-action">
            <button (click)='selectT2()' class="btn btn-primary">Select</button>
          </li>
        </ul>
      </div>

      <div class="col plan price-three">
        <ul>
          <li class="heading-three">
            <h1>Tier III</h1>
            <span>$150/hour<sup>*</sup></span>
          </li>
          <li>Large spectator events (5,000+)</li>
          <li>Dedicated patient care facility</li>
          <li>3&ndash;5 EMTs on field crews</li>
          <li>5939 (dedicated standby)</li>
          <li>2+ emergency event supervisors</li>
          <li class="plan-action">
            <button (click)='selectT3()' class="btn btn-primary">Select</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center text-muted"><sup>*</sup> Most events within the RPI Community will be staffed free of charge.
  </p>
</body>

</html>
