@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@600;700&display=swap');


h1 {
  font-weight: 600;
  font-family: 'Sarabun';
  color: #000000;
}

h3{
  font-weight: 200;
  font-family: 'Sarabun';
  color: #4e4e4e;;
}

h5{
  font-weight: 200;
  font-family: 'Sarabun';
  color: #4e4e4e;;
}

.header {
  text-align: center;
  padding: 20px;
  font-size:20px;
}

.sep {
  height: 25px;
}

.pricing_heading {
  margin-top: 120px
}

.pricing_heading h2,
.pricing_heading p {
  color: #454e4e;
}

.pricing-area h1 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
}

.pricing-area span {
  font-weight: 700;
  font-size: 18px;
}

.pricing-area h3,
.pricing-area span {
  color: #fff;
}

.plan {
  position: relative;
  margin-bottom: 70px;
}

.pricing-area ul {
  background: #FAFAFA;
  padding: 0;
  margin: 0;
}

.pricing-area ul li {
  list-style: none;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 400;
}

.pricing-area ul li:nth-child(even) {
  background: #f5f5f5
}

.pricing-area .price-three img,
.pricing-area .price-six img {
  position: absolute;
  right: 15px;
  top: 0;
}

.pricing-area .heading-one,
.pricing-area .heading-two,
.pricing-area .heading-three {
  padding: 17px 0;
  border-radius: 2px 2px 0 0;
}

.pricing-area .heading-one,
.pricing-area .heading-two,
.pricing-area .heading-three,
.pricing-area .heading-four,
.pricing-area .heading-five,
.pricing-area .heading-six,
.pricing-area .heading-seven {
  margin-left: 0px;
}

.pricing-area .heading-one,
.pricing-area .price-one .plan-action .btn-primary {
  background: #e24f43
}

.pricing-area .heading-two,
.pricing-area .price-two .plan-action .btn-primary {
  background: #f39c12;
}

.pricing-area .heading-three,
.pricing-area .price-three .plan-action .btn-primary {
  background: #27AE60;
}

.pricing-area .heading-four,
.pricing-area .price-four .plan-action .btn-primary {
  background: #5c5c5c
}

.pricing-area .heading-five,
.pricing-area .price-five .plan-action .btn-primary {
  background: #5c5c5c
}

.pricing-area .heading-six,
.pricing-area .price-six .plan-action .btn-primary {
  background: #e24f43;
}

.pricing-area .heading-seven,
.pricing-area .price-seven .plan-action .btn-primary {
  background: #5c5c5c
}

.pricing-area .bg {
  background: #fafafa
}

.pricing-area .heading-one h3:before {
  border-color: #bf4539 transparent transparent;
}

.pricing-area .heading-two h3:before {
  border-color: #1f8c4d transparent transparent;
}

.pricing-area .heading-three h3:before {
  border-color: #d4880f transparent transparent;
}

.pricing-area .heading-four h3:before {
  border-color: #424242 transparent transparent;
}

.pricing-area .heading-five h3:before {
  border-color: #424242 transparent transparent;
}

.pricing-area .heading-six h3:before {
  border-color: #bf4539 transparent transparent;
}

.pricing-area .heading-seven h3:before {
  border-color: #424242 transparent transparent;
}

.pricing-area h3:before {
  border-color: #D4880F transparent transparent;
  border-radius: 5px 0 0 0px;
  border-style: solid;
  border-width: 12px;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  top: 78px;
  width: 0;
  z-index: -999;
}

.small-pricing h3:after {
  height: 94px;
}

.small-pricing h3:before {
  top: 74px;
}

.plan-action {
  height: 40px;
}

.pricing-area .plan-action .btn-primary {
  position: relative;
  padding: 5px 20px;
  color: #fff;
  margin-top: 5px;
}
