.upcoming-events, .partners {
  padding: 70px 0;
}

.partners {
  background-image: url('../../assets/partners_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  .translucent-bg {
    background: rgba(255,255,255,.5);
    padding: 20px 0;
  }
  
  .partner-img {
    max-height: 150px;
  }
}